<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navFooter.css">

    <title>Administração</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <header>
        <nav class="navbar">
            <div class="titulo">
                <a href="/admPagPrincipal/<%=user[0].IDUsuario%>"><h1><span>Clube</span></h1> <strong><h1>Bosch</h1></strong>  </h1></a>
            </div>
            <div class="funcoes">
                <div class="minhasReservas">
                    <a href="/admReservas/<%=user[0].IDUsuario%>"><h5>Reservas</h5></a>
                </div>
               <div class="user d-flex gap-2">
                    <h5>Administrador: <%=user[0].Nome %>, </h5><h5> Edv: <%=user[0].EDV%> </h5>    
               </div>
               <a class="tema" onclick="mudarTema()">
                <img src="/img/moon.png" id="moon" alt="" >
                <img src="/img/sun.png" alt="" id="sun" style="display: none;" >
               </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid p-10">
            <div class="row mb-5 gap-0">
                <div class="col-md-6 mb-5 d-flex justify-content-center" >
                    <div class="card" id="card1">
                        <img class="card-img-top" src="/img/ronaldo.jpg" alt="Imagem de capa do card">
                        <div class="card-body d-flex justify-content-center">
                            <a href="/admChurrasqueiras/<%=user[0].IDUsuario%>" name="churrasqueira" class="btn btn-danger"><h5>Churrasqueiras</h5></a>
                        </div>
                    </div>
                </div>  
                <div class="col-md-6 mb-5 d-flex justify-content-center" >
                    <div class="card" id="card2">
                        <img class="card-img-top" src="/img/ronaldo.jpg" alt="Imagem de capa do card">
                        <div class="card-body d-flex justify-content-center ">
                            <button name="churrasqueira" type="button" class="btn btn-danger "><h5>Quadras</h5></button>
                        </div>
                    </div>
                </div>
                <div class="row mt-5" >
                    <div class="column md-12 d-flex justify-content-center">
                        <div class="card" id="card3">
                            <img class="card-img-top" src="/img/ronaldo.jpg" alt="Imagem de capa do card">
                            <div class="card-body d-flex justify-content-center" >
                                <a href="/admReservas/<%=user[0].IDUsuario%>" name="reserva" type="button" class="btn btn-danger"><h5>Reservas</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="fixed-bottom">
            <div>
              <a href="/">
                <button style="width: 80px;" class="btn btn-danger">
                  Sair
                </button>
              </a>
            </div>
          </footer>
    </main>  
    <script src="/js/script.js"></script>
</body>

</html>